<!-- comments
<meta name="color-scheme" content="light dark">
<link rel="preload stylesheet" href="/wiki/style/style-global.css" as="style">
<link rel="stylesheet" type="text/css" href="/wiki/style/theme-dark.css" title="default" />
<link rel="alternate stylesheet" type="text/css" href="/wiki/style/theme-light.css" title="alternate" />
<script type="text/javascript" src="/wiki/style/styleswitcher.js"></script>
<title>Wikigebbia</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Links to various pages">
-->
